<div
  style="
    height: calc(100%-200px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  "
>
  <div>
    <div nz-row>
      <div nz-col nzSpan="8"></div>
      <div nz-col nzSpan="8">
        <h1 style="text-align: center; font-size: 7rem; margin-bottom: 0">
          404
        </h1>
      </div>
      <div nz-col nzSpan="8"></div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <p style="text-align: center; font-size: 2rem">
          Page you're looking for has gone for a vacation!
        </p>
      </div>
    </div>
  </div>
</div>
